<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <template id="user_portal_new" name="Inherit Portal" inherit_id="website_portal.details">
        <xpath expr="//div[@id='wrap']" position="replace">
            <div class="wrapper">
                <div class="wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div t-if="error_message" class="alert alert-danger">
                                    <t t-foreach="error_message" t-as="err">
                                        <t t-esc="err"/>
                                        <br/>
                                    </t>
                                </div>
                            </div>
                            <div class="col-lg-6 col-lg-offset-4">
                                <h1 class="u-black u-large u-mb4">إعدادات الحساب</h1>
                                <ul class="u-list-unstyled tabs--filled tabs--two u-mb9">
                                    <li>
                                        <a class="is-active" href="/my/account" marker="/my/account"
                                           title="تعديل المعلومات">تعديل المعلومات
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/page/paymentMethod" marker="/page/paymentMethod" title="طرق الدفع">طرق
                                            الدفع
                                        </a>
                                    </li>
                                </ul>
                                <form class="u-mb5" action="/my/account" method="post">
                                    <input type="hidden" name="csrf_token" t-att-value="request.csrf_token()"/>
                                    <label class="control-label" for="name">الاسم بالكامل</label>
                                    <input type="text" name="name" class="form-control input u-mb2"
                                           t-att-value="name or partner.name"/>
                                    <label class="control-label" for="email">البريد الالكتروني</label>
                                    <input type="email" name="email" class="form-control input u-mb2"
                                           t-att-value="email or partner.email"/>
                                    <label class="control-label" for="">كلمة السر القديمة</label>
                                    <input name="password" class="form-control input u-mb2"
                                           t-att-value="password or partner.user_id.password" type="password"/>

                                    <label>كلمة السر الجديدة</label>
                                    <input name="new_password" class="form-control input u-mb2" type="password"/>
                                    <label>تأكيد كلمة السر</label>
                                    <input class="form-control input u-mb3" type="password" name="other_new_password"/>
                                    <input type="hidden" name="redirect" t-att-value="redirect"/>
                                    <div class="clearfix">
                                        <button type="submit"
                                                class="btn btn-default btn-primary mb32 button is-main is-md"
                                                title="DoneEdit">
                                            تم التعديل
                                            <span class="fa fa-long-arrow-right"/>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </xpath>

    </template>
</odoo>